

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Style for the scrollbar track (background area) */
::-webkit-scrollbar-track {
  background: #1c1c1c; /* Color to match your filter's background */
}

/* Style for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgb(86, 170, 142); /* Set thumb color */
  border-radius: 6px; /* Round the edges of the scrollbar thumb */
  border: 3px solid #1c1c1c; /* Optional: add a border for spacing */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #5da78c; /* Slightly lighter color on hover */
}
